SETUP_HOST=http://bidaro.local
SETUP_MAILER_HOST=http://mailhog.bidaro.local

DIAGNOSTIC_TOKEN=hello

DB_CONNECTION=postgres
DB_HOST=database
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=3003
REDIS_USER=
REDIS_PASS=

S3_ACCESS_KEY_ID=minio
S3_SECRET_ACCESS_KEY=miniosecret
S3_ENDPOINT=http://minio:9000
S3_REGION=auto
S3_BUCKET=bidaro

MAILER_HOST=mailhog
MAILER_PORT=1025
MAILER_USER=null
MAILER_PASS=null
MAILER_ENCRYPTION=null
MAILER_FROM_ADDRESS="noreply@example.dev"
MAILER_FROM_NAME="Fake Company"
